.speech{
    font-family: 'Trebuchet MS';
    font-size: large;
    color: blueviolet;
}
.stage-direction{
    font-family: Arial;
    font-size: medium;
    color: lime;
    background-color: lightgreen;

}
.stage-direction.hover{
    background-color: lightgreen;
}


.name{
    font-family: cursive;
    font-size: x-large;
    color: chartreuse;
}
.LADYWINDERMERE{
    color: rgb(88, 236, 19);
}
.LORDDARLINGTON{
    color: orange;
}
.PARKER{
    color: violet;
}
.DUCHESSOFBERWICK{
    color: yellow;
}
