.speech{
    font-family: 'Trebuchet MS';
    font-size: large;
    color: black;
}
.stage-direction{
    font-family: Arial;
    font-size: medium;
    color: lime;
    background-color: lightgreen;

}
.stage-direction.hover{
    background-color: lightgreen;
}


.name{
    font-family: cursive;
    font-size: x-large;
    color:black;
}
.LADYWINDERMERE{
    color: rgb(88, 236, 19);
    
}
.LORDDARLINGTON:hover{
    background-color: chartreuse;
    text-shadow: 5px 5px 4px black;
    border-style: double ;
    
    
}
.LORDDARLINGTON{
    color: orange;
   
}
.PARKER{
    color: violet;
}
.DUCHESSOFBERWICK{
    color: yellow;
}

table,th,td{
    border: 1px solid black;
    border-color: brown;
    text-align: center;
    padding: 10px;;
    margin: 10%;
    
}
tr:nth-child(even) {
    background-color: rgb(150, 150, 216);
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
